@import url(/blocs/header.css);
@import url(/blocs/logo.css);
@import url(/blocs/offers.css);
@import url(/blocs/footer.css);
@import url(/blocs/swiper.css);
@import url(/blocs/feedback.css);
@import url(/blocs/gallery.css);
@import url(/blocs/price.css);
@import url(/blocs/card-price.css);
@import url(/blocs/condition.css);
@import url(/blocs/popup.css);
@import url(/blocs/form.css);

@font-face {
  font-family: 'Inter-Regular';
  src: url(/fonts/Inter-Regular.woff);
}

@font-face {
  font-family: 'Inter-Regular';
  src: url(/fonts/Inter-Regular.woff2);
}

@font-face {
  font-family: 'ComicSansMS';
  src: url(/fonts/ComicSansMS.woff);
}

@font-face {
  font-family: 'ComicSansMS';
  src: url(/fonts/ComicSansMS.woff2);
}

@font-face {
  font-family: 'FiraSans-SemiBold';
  src: url(/fonts/FiraSans-SemiBold.woff);
}

@font-face {
  font-family: 'FiraSans-SemiBold';
  src: url(/fonts/FiraSans-SemiBold.woff2);
}

@font-face {
  font-family: 'FiraSans-Medium';
  src: url(/fonts/FiraSans-Medium.woff);
}

@font-face {
  font-family: 'FiraSans-Medium';
  src: url(/fonts/FiraSans-Medium.woff2);
}

@font-face {
  font-family: 'FiraSans-Regular';
  src: url(/fonts/FiraSans-Regular.woff);
}

@font-face {
  font-family: 'FiraSans-Regular';
  src: url(/fonts/FiraSans-Regular.woff2);
}

@font-face {
  font-family: 'RightGroteskText-WideBold';
  src: url(/fonts/RightGroteskText-WideBold.woff);
}

@font-face {
  font-family: 'RightGroteskText-WideBold';
  src: url(/fonts/RightGroteskText-WideBold.woff2);
}

.root {
  padding: 0;
  margin: 0;
  background-color: black;
}

:root {
  --swiper-theme-color: #FEA300 !important;
  --swiper-navigation-top-offset: 0;
  --swiper-pagination-bullet-inactive-color: #ffffff;
  --swiper-pagination-bullet-inactive-opacity: .3;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-horizontal-gap: 5px;

}

.page {
  max-width: 1440px;
  margin: auto;
  font-family: FiraSans-Regular;
}

.title {
  font-size: 36px;
  text-transform: uppercase;
  font-family: RightGroteskText-WideBold;

  text-align: center;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;

}

.button {
  background-color: #FEA300;
  color: #ffffffff;
  min-height: 77px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: FiraSans-Medium;
  border-radius: 20px;
  border: none;
}

.link {
  cursor: pointer;
}

p,
.h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}