.swiper {
  width: 100%;
}

.swiper-button-prev::after {
  content: '' !important;
  background: url('../image/arrow-left.svg') no-repeat !important;
  height: 24px;
  width: 24px;

}

.swiper-slide {
  width: auto !important;
}

.swiper-slide:first-child {
  margin-left: 90px !important;
}

.swiper-button-next::after {
  content: '' !important;
  background: url('../image/arrow-right.svg') no-repeat !important;
  height: 24px;
  width: 24px;
  align-items: start;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
  position: static !important;
  margin-top: 0 !important;

}

.swiper-pagination {
  width: auto !important;

}

.feedback__swiper__wrapper,
.gallery__swiper__wrapper {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 26px;
  margin-top: -50px;
}

@media (max-width: 760px) {
  .swiper-slide:first-child {
    margin-left: 30px !important;
  }
}